body {
    margin: 0px 0px;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.first {
    background-color: #1F2937;
    padding: 0px 80px 60px 80px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.heroimg {
    display: flex;
    gap: 50px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.sub {
    font-size: 18px;
    color: #E5E7EB;
}

.ksum {
    height: 450px;
    width: 350px;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 5px;
    border: 0;
}