body {
    margin: 0px 0px;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.first {
    background-color: #1F2937;
    padding: 0px 160px 60px 160px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.heroimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    text-align: left;
    margin-right: 50px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

.sub {
    font-size: 18px;
    color: #E5E7EB;
}

.ksum {
    height: 375px;
    width: 500px;
}

.herobutton {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 5px;
    border: 0;
}

.second {
    padding: 0px 80px 80px 80px;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.imgtextcontainer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 20px;
}

.imgtext {
    max-width: 250px;
}

.secimg {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 5px solid #3882f6;
}

.third {
    background-color: #E5E7EB;
    padding: 80px 80px 80px 80px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0 150px;
}

.quotename {
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
    margin: 0 200px;
}

.fourth {
    padding: 60px 150px 60px 150px;
}

.cta {
    background-color: #3882f6;
    display: flex;
    padding: 50px 90px 50px 90px;
    margin: 30px 0;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.ctatext1 {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.ctatext2 {
    color: white;
    font-size: 10px;
}

.ctabutton {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 25px;
    border-radius: 5px;
    border: 2px solid white;
}

.footer {
    text-align: center;
    background-color:#1F2937;
    color: white;
    font-size: 10px;
    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}